# SQL Server administrator
MSSQL_SA_PASSWORD=zm1+Jx2MW1QU(rk)6
MSSQL_DATABASE=msvc_transactions
MSSQL_PORT=1433

# Application credentials
SPRING_DATASOURCE_USERNAME=brayan_alvarez
SPRING_DATASOURCE_PASSWORD=60xVXu1zPk0k
